.latestProductSection{
    margin: 2rem 0;
    margin-top: 5rem;
    width: 100%;
    height: 70vh;
    background-color: #1490F6;
    display: flex;
    justify-content: space-between;
    position: relative;
    color: #fff;

    .content{
        margin:auto 0;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h1{
            font-size: 3.5rem;
        }

        p{
            font-size: 2rem;
            color: #f2f2f2;
        }

        a{
            color: #fff;
            font-size: 1.5rem;
            text-decoration:none;
            background-color: #000;
            width: fit-content;
            padding: 0.5rem 1.5rem;
            border-radius: 1.5rem;
            box-shadow: 5px 5px 15px 5px rgba(255,255,255,0.5);
        }

        @media screen and (max-width:800px) {
            h1{
                font-size: 3rem;
            }
            p{
                font-size: 1.5rem;
            }
            a{
                font-size: 1rem;
            }
        }
    }
    @media screen and (max-width:1300px){
        flex-direction: column;
        height: fit-content;
    }
}