/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:95%;
}
body{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  color: #fff;
}
.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}
.flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.justify-space-between{
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}
.flex-direction-col{
  flex-direction: column;
}
h1,h2,h3,h4,h5{
  line-height: 1.2;
}
h1{
  font-size: 2.5rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.6rem;
}
h4{
  font-size: 1.3rem;
}
.navbar{
  width: 100vw;
  height: 150px;
  background-color: #f2f2f2;
}

.nav_top{
  background-color: orange;
}
 */
