*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root{
  --font-family:"Poppins",sans-serif;
  --dark-blue:#0a1930;
  --light-blue:#1f93ff;

  --color-white:#fff;
  --color-dark:#333;

  --color-grey:#eee;
  --box-shadow:0 5px 15px rgba(0,0,0,0.1);

  --color-purple:#9d0191;
  --color-orange:#ff7722;
  --color-primary:#007bff;
  --color-success:#28a745;
}
html{
  font-size: 16px;
}
.container{
  max-width: 1200px;
  padding: 0 1rem;
  margin: 4rem auto;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family:var(--font-family);
}
@media screen and (max-width:700px) {
    html{
      font-size: 12px;
    }
}
